* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#ball {
  position: fixed;
  bottom: 80px;
  left: calc(50% - 12.5px);

  background-color: #f00;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

#playerBar {
  position: fixed;
  bottom: 10px;
  left: calc(50% - 50px);

  background-color: black;
  width: 100px;
  height: 20px;
}

#lvl1Row1Container, #lvl1Row2Container, #lvl1Row3Container, #lvl1Row4Container, #lvl1Row5Container, #lvl1Row6Container, #lvl1Row7Container, #lvl1Row8Container, #lvl1Row9Container, #lvl1Row10Container {
  margin-left: none;
  position: relative;
  top: 50px;
  left: 0px;
  width: 100%;
  /* display: flex; */
}
.lvl1Row1, .lvl1Row2, .lvl1Row3, .lvl1Row4, .lvl1Row5, .lvl1Row6, .lvl1Row7, .lvl1Row8, .lvl1Row9, .lvl1Row10 {
  height: 20px;
  width: 10vw;
  border: 1px black solid;
  position: fixed;
}
.lvl1Row1 {
  background-color: green;
  top: 50px;
}

#lvl1Row1Block1{
  left: 0;
}

#lvl1Row1Block2{
  left: 10vw;
}
#lvl1Row1Block3{
  left: 20vw;
}

#lvl1Row1Block4{
  left: 30vw;
}
#lvl1Row1Block5{
  left: 40vw;
}

#lvl1Row1Block6{
  left: 50vw;
}
#lvl1Row1Block7{
  left: 60vw;
}

#lvl1Row1Block8{
  left: 70vw;
}
#lvl1Row1Block9{
  left: 80vw;
}

#lvl1Row1Block10{
  left: 90vw;
}

.lvl1Row2 {
  background-color: rgb(169, 255, 8);
  top: 70px;
}

#lvl1Row2Block1{
  left: 0;
}

#lvl1Row2Block2{
  left: 10vw;
}
#lvl1Row2Block3{
  left: 20vw;
}

#lvl1Row2Block4{
  left: 30vw;
}
#lvl1Row2Block5{
  left: 40vw;
}

#lvl1Row2Block6{
  left: 50vw;
}
#lvl1Row2Block7{
  left: 60vw;
}

#lvl1Row2Block8{
  left: 70vw;
}
#lvl1Row2Block9{
  left: 80vw;
}

#lvl1Row2Block10{
  left: 90vw;
}

.lvl1Row3 {
  background-color: rgb(255, 127, 8);
  top: 90px;
}

#lvl1Row3Block1{
  left: 0;
}

#lvl1Row3Block2{
  left: 10vw;
}
#lvl1Row3Block3{
  left: 20vw;
}

#lvl1Row3Block4{
  left: 30vw;
}
#lvl1Row3Block5{
  left: 40vw;
}

#lvl1Row3Block6{
  left: 50vw;
}
#lvl1Row3Block7{
  left: 60vw;
}

#lvl1Row3Block8{
  left: 70vw;
}
#lvl1Row3Block9{
  left: 80vw;
}

#lvl1Row3Block10{
  left: 90vw;
}

.lvl1Row4 {
  background-color: rgb(255, 8, 8);
  top: 110px;
}

#lvl1Row4Block1{
  left: 0;
}

#lvl1Row4Block2{
  left: 10vw;
}
#lvl1Row4Block3{
  left: 20vw;
}

#lvl1Row4Block4{
  left: 30vw;
}
#lvl1Row4Block5{
  left: 40vw;
}

#lvl1Row4Block6{
  left: 50vw;
}
#lvl1Row4Block7{
  left: 60vw;
}

#lvl1Row4Block8{
  left: 70vw;
}
#lvl1Row4Block9{
  left: 80vw;
}

#lvl1Row4Block10{
  left: 90vw;
}

.lvl1Row5 {
  background-color: rgb(8, 255, 214);
  top: 130px;
}

#lvl1Row5Block1{
  left: 0;
}

#lvl1Row5Block2{
  left: 10vw;
}
#lvl1Row5Block3{
  left: 20vw;
}

#lvl1Row5Block4{
  left: 30vw;
}
#lvl1Row5Block5{
  left: 40vw;
}

#lvl1Row5Block6{
  left: 50vw;
}
#lvl1Row5Block7{
  left: 60vw;
}

#lvl1Row5Block8{
  left: 70vw;
}
#lvl1Row5Block9{
  left: 80vw;
}

#lvl1Row5Block10{
  left: 90vw;
}

.lvl1Row6 {
  background-color: rgb(7, 40, 224);
  top: 150px;
}

#lvl1Row6Block1{
  left: 0;
}

#lvl1Row6Block2{
  left: 10vw;
}
#lvl1Row6Block3{
  left: 20vw;
}

#lvl1Row6Block4{
  left: 30vw;
}
#lvl1Row6Block5{
  left: 40vw;
}

#lvl1Row6Block6{
  left: 50vw;
}
#lvl1Row6Block7{
  left: 60vw;
}

#lvl1Row6Block8{
  left: 70vw;
}
#lvl1Row6Block9{
  left: 80vw;
}

#lvl1Row6Block10{
  left: 90vw;
}

.lvl1Row7 {
  background-color: rgb(255, 8, 193);
  top: 170px;
}

#lvl1Row7Block1{
  left: 0;
}

#lvl1Row7Block2{
  left: 10vw;
}
#lvl1Row7Block3{
  left: 20vw;
}

#lvl1Row7Block4{
  left: 30vw;
}
#lvl1Row7Block5{
  left: 40vw;
}

#lvl1Row7Block6{
  left: 50vw;
}
#lvl1Row7Block7{
  left: 60vw;
}

#lvl1Row7Block8{
  left: 70vw;
}
#lvl1Row7Block9{
  left: 80vw;
}

#lvl1Row7Block10{
  left: 90vw;
}


.lvl1Row8 {
  background-color: rgb(197, 8, 255);
  top: 190px;
}

#lvl1Row8Block1{
  left: 0;
}

#lvl1Row8Block2{
  left: 10vw;
}
#lvl1Row8Block3{
  left: 20vw;
}

#lvl1Row8Block4{
  left: 30vw;
}
#lvl1Row8Block5{
  left: 40vw;
}

#lvl1Row8Block6{
  left: 50vw;
}
#lvl1Row8Block7{
  left: 60vw;
}

#lvl1Row8Block8{
  left: 70vw;
}
#lvl1Row8Block9{
  left: 80vw;
}

#lvl1Row8Block10{
  left: 90vw;
}

.lvl1Row9 {
  background-color: rgb(7, 255, 255);
  top: 210px;
}

#lvl1Row9Block1{
  left: 0;
}

#lvl1Row9Block2{
  left: 10vw;
}
#lvl1Row9Block3{
  left: 20vw;
}

#lvl1Row9Block4{
  left: 30vw;
}
#lvl1Row9Block5{
  left: 40vw;
}

#lvl1Row9Block6{
  left: 50vw;
}
#lvl1Row9Block7{
  left: 60vw;
}

#lvl1Row9Block8{
  left: 70vw;
}
#lvl1Row9Block9{
  left: 80vw;
}

#lvl1Row9Block10{
  left: 90vw;
}

.lvl1Row10 {
  background-color: rgb(21, 247, 0);
  top: 230px;
}

#lvl1Row10Block1{
  left: 0;
}

#lvl1Row10Block2{
  left: 10vw;
}
#lvl1Row10Block3{
  left: 20vw;
}

#lvl1Row10Block4{
  left: 30vw;
}
#lvl1Row10Block5{
  left: 40vw;
}

#lvl1Row10Block6{
  left: 50vw;
}
#lvl1Row10Block7{
  left: 60vw;
}

#lvl1Row10Block8{
  left: 70vw;
}
#lvl1Row10Block9{
  left: 80vw;
}

#lvl1Row10Block10{
  left: 90vw;
}

/* div div div {
  display: inline-block;
} */
