* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1{
  text-align: center;
}

.menuGames {
  position: relative;
  left: 0px;
  display: flex;
  justify-content: space-evenly;
}

div div {
  display: inline-block;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.img {
  height: 200px;
  width: 200px;
}

#first-image{
  background-image: url("img/snake.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#second-image{
  background-image: url("img/pong.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#third-image{
  background-image: url("img/brickbreack.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

a {
  border: 1px solid black;
}