* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(255, 238, 183);
  overflow: hidden;
  height: 100vh;
}

.ball {
  position: fixed;
  bottom: 80px;
  left: 50%;

  background-color: #f00;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.player1Bar {
  position: fixed;
  top: calc(50% - 50px);
  left: 20px;

  background-color: black;
  width: 20px;
  height: 100px;
}

.player2Bar {
  position: fixed;
  top: calc(50% - 50px);
  
  right: 20px;
  background-color: black;
  width: 20px;
  height: 100px;
}

.scores {
  display: flex;
  position: fixed;
  width: 100%;
}

.score {
  position: relative;
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
  width: 50%;
  font-size: larger;
  font-weight: bolder;
}